@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--main-bg);
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  /* overflow-x: hidden; */
  line-height: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s; 
}
